<div class="mt-5">

    <h4 class="text-center">Топ 100 Процесори:</h4>
    <h6 class="text-center text-muted">Сортирани по производителност (cpuMark) – по-високата стойност означава по-добра производителност</h6>
    <div class="table-responsive shadow-lg">
        <table class="table table-bordered table-striped w-100 mb-0">
            <thead class="table-dark text-nowrap">
                <tr>
                    <th>
                        <div class="text-center">&#8470;</div>
                        <div class="text-dark">N</div>
                    </th>
                    <th>
                        <div>Име</div>
                        <div class="text-dark">0</div>
                    </th>
                    <th>
                        <div class="text-center">Цена</div>
                        <div class="text-center fw-light"><small>(&#8364;)</small></div>
                    </th>
                    <th>
                        <div class="text-center">Производителност</div>
                        <div class="text-center fw-light"><small>(по-високо е по-добре)</small></div>
                    </th>
                    <th>
                        <div class="text-center">Ядра</div>
                        <div class="text-center fw-light"><small>(cores)</small></div>
                    </th>
                    <th>
                        <div class="text-center">Топлинна мощност (TDP)</div>
                        <div class="text-center fw-light"><small>(по-ниско е по-добре)</small></div>
                    </th>
                    <th>
                        <div class="text-center">Категория</div>
                        <div class="text-center fw-light"><small>(category)</small></div>
                    </th>
                    <th>
                        <div class="text-center">Гнездо</div>
                        <div class="text-center fw-light"><small>(socket)</small></div>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for cpu in top_cpus %}
                <tr class="{% if loop.index == 1 %}table-success{% elif loop.index == 2 %}table-warning{% endif %}">
                    <td class="text-center">{{ loop.index }}</td>
                    <td>{{ cpu.cpuName }}</td>
                    <td class="text-end text-nowrap">{{ cpu.price }} &#8364;</td>
                    <td class="text-center text-nowrap">{{ cpu.cpuMark }}</td>
                    <td class="text-center text-nowrap">{{ cpu.cores }}</td>
                    <td class="text-center text-nowrap">{{ cpu.TDP }}</td>
                    <td class="text-center text-nowrap">{{ cpu.category}}</td>
                    <td class="text-center text-nowrap">{{ cpu.socket}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>