<div class="container">
    <form method="POST" class="card p-4 shadow-lg">

        <div class="row">

            <div class="col-12 col-lg-6 mb-5">
                <label class="form-label form-label-custom ps-3" data-i18n="brand">Марка на микропроцесора</label>
                <select class="form-select" id="brandSelect" name="brand" >
                    <option value="" data-i18n="choiceBrand"></option>
                </select>
            </div>

             <div class="col-12 col-lg-6 mb-5">
                    <label class="form-label form-label-custom ps-3" data-i18n="model">Модел на микропроцесора</label>
                    <select class="form-select" id="modelSelect" name="cpuName">
                        <option data-i18n="choiceModel"></option>

                    </select>
                    <div class="text-muted fst-italic small ps-3" data-i18n="inputModelInfo">Първо изберете марка на микропроцесора</div>
            </div>

             <div class="col-12 col-lg-6 mb-5">
                    <label class="form-label form-label-custom ps-3" data-i18n="category">Категория на микропроцесора</label>
                    <select class="form-select" id="categorySelect" name="category">
                        <option selected data-i18n="choiceCategory"></option>
                    </select>
                    <div class="text-muted fst-italic small ps-3" data-i18n="inputCategoryInfo">Първо изберете марката и модела на микропроцесора</div>
            </div>

            <div class="col-12 col-lg-6 mb-5">
                <label class="form-label form-label-custom ps-3" data-i18n="budget" >Максимален бюджет</label>
                <input
                        type="number"
                        min="1"
                        max="100000"
                        name="budget"
                        class="form-control"
                        placeholder="Например 500"
                        value="{{ user.budget if user else '' }}"
                        required
                        id="budget"
                        data-placeholder-i18n="budgetPlaceholder"
                >
                <div class="text-muted fst-italic small ps-3" data-i18n="inputBudgetInfo">Въведете максимален бюджет в евро (&euro;)</div>
            </div>

            <div class="col-12 col-lg-6 mb-3">
                <label class="form-label form-label-custom ps-3" data-i18n="performance">Минимална производителност</label>
                <input
                        type="number"
                        min="1"
                        max="200000"
                        name="cpuMark"
                        class="form-control"
                        placeholder="Например 15 000"
                        value="{{ user.performance if user else '' }}"
                        required
                        data-placeholder-i18n="performancePlaceholder"
                />

                <div class="text-muted fst-italic small ps-3" data-i18n="inputPerformanceInfo">Стойност от бенчмарк (cpuMark) - по-голямо означава по-висока производителност</div>
            </div>

            <div class="col-12 col-lg-6 mb-3">
                <label class="form-label form-label-custom ps-3" data-i18n="cores">Минимален брой ядра</label>
                <input
                        type="number"
                        min="1"
                        max="100"
                        name="cores"
                        class="form-control"
                        placeholder="Например 2"
                        value="{{ user.cores | default('') }}"
                        required
                        data-placeholder-i18n="coresPlaceholder"
                >

                <div class="text-muted fst-italic small ps-3" data-i18n="inputCoresInfo">Минимален брой ядра, които процеса трябва да има</div>
            </div>

        </div>

        <div class="d-flex justify-content-end mt-5">
            <button
                    type="submit"
                    class="btn btn-outline-dark text-nowrap px-4 fw-semibold mx-4"
                    data-i18n="search"
            >
                <i class="bi bi-search"></i>
            </button>

            <button
                type="reset"
                id="resetBtn"
                class="btn btn-outline-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-offset="0,08"
                title="Нулира всички полета във формата"
                onclick="window.location.href='/'"
                data-i18n="reset"
            >
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>

    </form>
</div>