<div class="d-flex align-items-start mx-3 mt-3 w-25">
    {% if has_imported_dataset %}
        <button id="btnRestoreDataset" class="btn btn-outline-dark2 text-nowrap fw-semibold shadow-sm me-3">
            <i class="bi bi-arrow-clockwise"></i>
            <span data-i18n="restoreOriginalDataset">Restore Original Dataset</span>
        </button>
    {% endif %}
    <button type="button"
                class="btn btn-md btn-outline-blue2 text-nowrap fw-semibold shadow-sm "
                data-bs-toggle="modal"
                data-bs-target="#importModal"
    >
        <i class="bi bi-upload me-2"></i>
        <span data-i18n="import">Import</span>
    </button>
</div>

<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-lg">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="importModalLabel">
                    <i class="bi bi-upload me-2"></i>
                    <span data-i18n="importDataset">Import Dataset</span>
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

            </div>

            <div class="modal-body">
                <p data-i18n="importDescription">Upload your own CPU dataset in CSV format.</p>

                <div class="alert alert-primary">
                    <ul class="mb-0">
                        <li data-i18n="importInfo1">Only CSV files are supported.</li>

                        <li data-i18n="importInfo2">Your uploaded dataset does not modify the original database.</li>

                        <li data-i18n="importInfo3">The uploaded dataset is available only for your current session.</li>

                        <li data-i18n="importInfo4">After the session ends, the dataset is automatically removed.</li>
                    </ul>

                </div>

                <div class="mb-2">
                    <label class="form-label" data-i18n="chooseDataset">Choose Dataset</label>

                    <input class="form-control" type="file" id="datasetFile" accept=".csv">

                </div>

                <div id="selectedDataset" class="small text-muted mb-2" style="display:none;">
                    <i class="bi bi-file-earmark-spreadsheet me-2"></i>
                    <span id="datasetName"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <i class="bi bi-cash-coin mx-2 text-primary"></i>
                        <span data-i18n="currency">Currency</span>
                    </label>

                    <select class="form-select" id="datasetCurrency">
                        <option value="EUR" data-i18n="currencyEuro">Euro (€)</option>
                        <option value="USD" data-i18n="currencyUSD" selected >US Dollar ($)</option>
                    </select>

                    <div class="form-text" data-i18n="currencyInfo">Select the currency used in the imported dataset.</div>
                </div>

                <div id="uploadProgressContainer" class="progress mb-2" style="display:none;">
                    <div
                            id="uploadProgress"
                            class="progress-bar progress-bar-striped progress-bar-animated"
                            style="width:0%"
                    >
                        0%
                    </div>

                </div>

                <div id="uploadStatus" class="alert d-none mt-2" role="alert"></div>

                <div id="processingContainer" class="mt-3" style="display:none;">
                        <div class="small mb-2 fw-semibold" id="processingText" data-i18n="preparing">Preparing...</div>

                        <div class="progress" style="height:12px;">
                            <div
                                    id="processingProgress"
                                    class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar"
                                    style="width:0%">
                                0%
                            </div>
                        </div>
                </div>

            </div>

            <div class="modal-footer">
                <button
                        type="button"
                        id="btnImportDataset"
                        class="btn btn-outline-blue"
                >
                    <i class="bi bi-upload me-2"></i>
                    <span data-i18n="import">Import</span>
                </button>
            </div>

            <div id="doneContainer" class="text-center mb-2" style="display:none;">
                <button
                        type="button"
                        id="btnDone"
                        class="btn btn-success"

                >
                    <i class="bi bi-check-circle me-2"></i>
                    <span data-i18n="done">Done</span>
                </button>
            </div>

        </div>

    </div>

</div>